<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  href="#">TLV Noticias</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      </li>

       <li class="nav-item">
        <%= link_to "Nacional", home_nacional_path, class: "nav-link" %>
      </li>

       <li class="nav-item">
        <%= link_to "Politica", home_politica_path, class: "nav-link" %>
      </li>

        <li class="nav-item">
        <%= link_to "Internacional", home_internacional_path, class: "nav-link" %>
      </li>

        <li class="nav-item">
        <%= link_to "Deportes", home_deportes_path, class: "nav-link" %>
      </li>

        <li class="nav-item">
        <%= link_to "Farándula", home_farandula_path, class: "nav-link"%>
      </li>

   

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Más
        </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" <%= link_to "Contáctanos", home_contacto_path, class: "nav-link"%> </a>
            
            <a class="dropdown-divider"></a>
            <%=link_to "Suscríbete","http://localhost:3000/suscriptors", class: "dropdown-item"%>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="¿Qué necesitas? " aria-label=" ">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>