<div id="<%= dom_id suscriptor %>">
  <p>
    <strong>Nombre:</strong>
    <%= suscriptor.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= suscriptor.apellido %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= suscriptor.correo %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= suscriptor.telefono %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= suscriptor.twitter %>
  </p>

</div>
